
<div class="container-wrap">
		<aside id="fh5co-hero">
			<div class="flexslider">
				<ul class="slides">
			   	<li style="background-image: url(../../assets/images/img_bg_3.jpg);">
			   		<div class="overlay-gradient"></div>
			   		<div class="container-fluids">
			   			<div class="row">
				   			<div class="col-md-6 col-md-offset-3 slider-text slider-text-bg">
				   				<div class="slider-text-inner text-center">
				   					<h1>Contact</h1>
										<h2>Free html5 templates Available at <a href="http://themewagon.com/" target="_blank">Themewagon</a></h2>
				   				</div>
				   			</div>
				   		</div>
			   		</div>
			   	</li>		   	
			  	</ul>
		  	</div>
		</aside>	

		<div id="fh5co-contact">
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2>Contact us</h2>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
				</div>
			</div>

						<div class="row" style="display: block;">
<div class="col-md-4 col-md-offset-4" style="margin: 0 auto;float: none;">
<form (ngSubmit)="onSubmit(f)" #f="ngForm">
	<div class="form-group">
		<label for="email">E-Mail</label>
		<input type="email" name="email" id="email" class="form-control" ngModel email required>
	</div>

	<div class="form-group">
		<label for="pass">Password</label>
		<input type="password" name="pass" id="pass" class="form-control" ngModel required>
	</div>

	<div class="form-group">
		<label for="pass">First Name</label>
		<input type="text" name="fname" id="fname" class="form-control" ngModel required>
	</div>

	<div class="form-group">
		<label for="pass">Last Name</label>
		<input type="text" name="lname" id="lname" class="form-control" ngModel required>
	</div>

	<div class="form-group">
		<label for="pass">Date of birth</label>
		<input type="date" name="dob" id="dob" class="form-control" ngModel required>
	</div>

	<div class="form-group">
		<label for="pass">Contact</label>
		<input type="text" name="contact" id="contact" class="form-control" ngModel required="">
	</div>

	<div class="form-group">
		<label for="email">E-Mail of hospital you are associated with</label>
		<input type="email" name="hemail" id="hemail" class="form-control" ngModel email required>
	</div>

	<!-- <div class="form-group">
	<label for="insurance">Current health insurances (if any) hold shift to select more than one):</label>
      <select multiple class="form-control" id="insurance" name="insurance" ngModel>
        <option value="ICICI Lombard General Insurance">ICICI Lombard General Insurance</option>
        <option value="National Insurance Company" >National Insurance Company</option>
		<option value="New India Assurance">New India Assurance</option>
		<option value="Star Health Insurance">Star Health Insurance</option>
		<option value="Max Bupa Health Companion">Max Bupa Health Companion</option>
      </select>
    </div>   -->

	<button type="submit" class="btn btn-info" [disabled]="!f.valid">Sign Up</button>
	<br>
	<p style="color: crimson">{{ errormessage }}</p>

</form>
</div></div>
		</div>
	</div><!-- END container-wrap -->