
<div class="container-wrap">
		<aside id="fh5co-hero">
			<div class="flexslider">
				<ul class="slides">
			   	<li style="background-image: url(../../assets/images/img_bg_3.jpg);">
			   		<div class="overlay-gradient"></div>
			   		<div class="container-fluids">
			   			<div class="row">
				   			<div class="col-md-6 col-md-offset-3 slider-text slider-text-bg">
				   				<div class="slider-text-inner text-center">
				   					<h1>Contact</h1>
										<h2>Free html5 templates Available at <a href="http://themewagon.com/" target="_blank">Themewagon</a></h2>
				   				</div>
				   			</div>
				   		</div>
			   		</div>
			   	</li>		   	
			  	</ul>
		  	</div>
		</aside>	

		<div id="fh5co-contact">
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2>Contact us</h2>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
				</div>
			</div>

			<div class="row" style="display: block;">
				<div class="col-md-4 col-md-offset-4" style="margin: 0 auto;float: none;">
				<form (ngSubmit)="onLoginSubmit(f1)" #f1="ngForm">
					<div class="form-group">
						<label for="email">E-Mail</label>
						<input type="email" name="email" id="email" class="form-control" ngModel email required>
					</div>

					<div class="form-group">
						<label for="pass">Password</label>
						<input type="password" name="pass" id="pass" class="form-control" ngModel required>
					</div>

					<button type="submit" class="btn btn-success" [disabled]="!f1.valid">Sign In</button>
					<br>
					<p style="color: crimson">{{ errormessage }}</p>
				</form>
		</div></div>

						<div class="row" style="display: block;">
<div class="col-md-4 col-md-offset-4" style="margin: 0 auto;float: none;">
<form (ngSubmit)="onSubmit(f)" #f="ngForm">
	<div class="form-group">
		<label for="email">E-Mail</label>
		<input type="email" name="email" id="email" class="form-control" ngModel email required>
	</div>

	<div class="form-group">
		<label for="pass">Password</label>
		<input type="password" name="pass" id="pass" class="form-control" ngModel required>
	</div>

	<div class="form-group">
		<label for="fname">First Name</label>
		<input type="text" name="fname" id="fname" class="form-control" ngModel required>
	</div>

	<div class="form-group">
		<label for="lname">Last Name</label>
		<input type="text" name="lname" id="lname" class="form-control" ngModel required>
	</div>

	<div class="form-group">
		<label for="dob">Date of birth</label>
		<input type="date" name="dob" id="dob" class="form-control" ngModel required>
	</div>

	<div class="form-group">
		<label for="contact">Contact</label>
		<input type="text" name="contact" id="contact" class="form-control" ngModel required="">
	</div>


	<div class="form-group">
		<label for="email">E-Mail of hospital you are associated with</label>
		<input type="email" name="hemail" id="hemail" class="form-control" ngModel email required>
	</div>

	<div class="form-group">
		<label for="qualifications">Qualifications</label>
		<input type="text" name="qualificatios" id="qualifications" class="form-control" ngModel required="">
	</div>

	<div class="form-group">
	<label for="specialities">Specialities (if any) hold shift to select more than one):</label>
      <select multiple class="form-control" id="specialities" name="specialities" ngModel required>
        <option *ngFor="let speciality of specialities" [value]="speciality">{{ speciality }}</option>
      </select>
    </div>  

	<button type="submit" class="btn btn-info" [disabled]="!f.valid">Sign Up</button>
	<br>
	<p style="color: crimson">{{ errormessage }}</p>

</form>
</div></div>
		</div>
	</div><!-- END container-wrap -->