<div class="container-wrap">
		<aside id="fh5co-hero">
			<div class="flexslider">
				<ul class="slides">
			   	<li style="background-image: url(../../assets/images/img_bg_3.jpg);">
			   		<div class="overlay-gradient"></div>
			   		<div class="container-fluids">
			   			<div class="row">
				   			<div class="col-md-6 col-md-offset-3 slider-text slider-text-bg">
				   				<div class="slider-text-inner text-center">
				   					<h1>Swasthya</h1>
				   				</div>
				   			</div>
				   		</div>
			   		</div>
			   	</li>		   	
			  	</ul>
		  	</div>
		</aside>
        
		<div id="fh5co-about">
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center heading-section">
					<h2>Redefining Healthcare</h2>
					<p>We, at Swasthya (स्वास्थ्य), aim at providing a robust and comprehensive platform for the patients, doctors, and healthcare centers - all at one place. Swasthya provides a solution to the lack of standardization in the medical industry, and streamlines the structuring of the medical system in India.

The digitization of the consumer-side technology, such as E-Prescriptions and the availability of previous health data, serves the purpose of achieving India’s goal of having all clinics digital by 2020, realizing the aims of the National Health Program 2017.
</p>
				</div>
			</div>
		</div>
	</div><!-- END container-wrap -->

	<div class="container-wrap">
       <div id="fh5co-services">
           <div class="row">
            	<div class="col-md-4 text-center animate-box">
                    
					<div class="services">
						<span class="icon">
							<i class="icon-diamond"></i>
						</span>
						<div class="desc">
							<h3><a href="#">Book Appointment</a></h3>
							<p>The world has moved on to the 21st century. Why should you be delayed for your treatment? Say good-bye to waiting time, with booking an appointment being just one single click away!

One of our most important aspects is providing our patients स्वास्थ्य की सुविधा. The process is extremely simple, log on to our portal, click on the “Book an Appointment” button, select your preferred slot on the day of your convenience. Receive a confirmation from the healthcare center within 2 hours of your request, with a ‘One Time Password’ (do not share it with anyone) that you must show to the health center’s operator on the day of your appointment.

With our Swasthya Wallet, not only do you have the option of pre-payment through multiple methods such as Credit cards, Debit cards, Unified Payments Interface (UPI), there are discounts and rewards provided to our patients through ‘Sehat points’, which is our community building rewards program.
</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 text-center animate-box">
					<div class="services">
						<span class="icon">
							<i class="icon-lab2"></i>
						</span>
						<div class="desc">
							<h3><a href="#">Common Illnesses</a></h3>
							<p>Swasthya provides the additional functionality of searching a list of healthcare centers on the basis of the most prevalent diseases or health problems. This specific facility aims at making the user experience extremely convenient, and the patient gets the benefit of finding the best and most popular doctors/ healthcare centers in that specific field.

Be it any problem that the patient may face, you can search through our list, and with a simple click, and the best and most popular specialists in that domain will be at your service.
</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 text-center animate-box">
					<div class="services">
						<span class="icon">
							<i class="icon-settings"></i>
						</span>
						<div class="desc">
							<h3><a href="#">Health Data</a></h3>
							<p>Swasthya tackles the problem of the communication of a patient’s health data only through a verbal medium, which may prove to be incomplete, as human error and memory cannot always be reliable at all times.

A patient’s allergies, current medication, previous health history, each and every bit of health data - is hosted on our safe and secure database which assists in convenient information transmission from one medium to another. The provision of health data on our portal makes it very convenient for the patient to convey medical information to the doctor, and paves the way for the best possible treatment owing to the precise and concise data hosted on the portal. 

A simple request sent from the doctor to the patient on the booking of an appointment, for the accession of health data, makes this possible. Maintaining doctor-patient confidentiality is of utmost importance at Swasthya, and we make this possible through our policy of not revealing any form of data unless the patient gives explicit consent to the doctor through approving the request for the same.
</p>
						</div>
					</div>
				</div>
               
               <div class="col-md-4 text-center animate-box">
					<div class="services">
						<span class="icon">
							<i class="icon-settings"></i>
						</span>
						<div class="desc">
							<h3><a href="#">Current Prescriptions</a></h3>
							<p>Pen-and-paper prescriptions are old school and the go-to method for prescribing medicines, however it is absolutely imperative for us to make it easier for the patient to read and follow prescriptions at all locations, and also the doctor for writing them. Technology has to be inculcated to make them more dynamic, usable, and transferrable in the future.

Swasthya has the provision of electronic prescriptions, which may be accessed through the user portal and gives a list of the current medication that the patient is on. In addition, the past cycle of medications may also be viewed for better understanding by the doctor. Bid adieu to the problem of reading a doctor’s handwriting!
</p>
						</div>
					</div>
				</div>
        </div>
        </div>
	</div><!-- END container-wrap -->