<div class="container-wrap">
  <div id="fh5co-blog" class="blog-flex">
    <img class="hospital-main-image" src="../../assets/images/blog-1.jpg">
    <div class="blog-entry fh5co-light-grey">
      <div class="row">
          <div class="col-md-10 animate-box">
            <div class="slider-text-inner">
              <h1>Prescription</h1>
              <h2>Appointment_id</h2>
              <p><a class="btn btn-primary btn-demo" href="#"> Read Reviews </a> <a class="btn btn-primary btn-learn">See More Photos</a></p>
            </div>
          </div>
          <div class="col-md-2 animate-box">
            <div class="slider-text-inner">
              <h1>servicePrice</h1>
            </div>
          </div>
       
      </div>
    </div>
  </div>
</div>