<div class="container-wrap">
  <div id="fh5co-blog" class="blog-flex">
    <img class="hospital-main-image" src="../../assets/images/blog-1.jpg">
    <div class="blog-entry fh5co-light-grey">
      <div class="row">
          <div class="col-md-10 animate-box">
            <div class="slider-text-inner" >
              <h1>{{selectedHospital.name}}</h1>
              <h2>{{selectedHospital.address}}</h2>
              <h2>{{selectedHospital.rating}}</h2>
              <p><a class="btn btn-primary btn-demo" href="#"> Read Reviews </a> <a class="btn btn-primary btn-learn">See More Photos</a></p>
            </div>
          </div>
          <div class="col-md-2 animate-box">
            <div class="slider-text-inner">
              <h1>${{selectedHospital.price}}</h1>
            </div>
          </div>
      </div>
    </div>
  </div>

  <br>

  <div class="text-center pagination-centered">
    <div class="row">
      <div class="col-md-2 col-xs-3 animate-box">
          <i class="fa fa-medkit"> Vaccination</i></div><div class="col-md-2 col-xs-3 animate-box"><i class="fa fa-low-vision
              "> Cataract</i></div><div class="col-md-2 col-xs-3 animate-box"><i class="fa fa-heartbeat"> Cardiac</i>
        </div>
        <div class="col-md-2 col-xs-3 animate-box"><i class="fa fa-venus-mars"> IVF</i>
        </div>
    </div>

    <div class="text-center pagination-centered animate-box">
      <div class="datesrow row">
        <div class="dates col-md-2" (click)='onSelect("mon",10)'>
          <span class="date">10</span>
          <span class="day">Mon</span>
        </div>
        <div class="dates col-md-2" (click)='onSelect("tue",11)'>
          <span class="date">11</span>
          <span class="day">Tue</span>
        </div>
        <div class="dates col-md-2" (click)='onSelect("wed",12)'>
          <span class="date">12</span>
          <span class="day">Wed</span>
        </div>
        <div class="dates col-md-2" (click)='onSelect("thurs",13)'>
          <span class="date">13</span>
          <span class="day">Thurs</span>
        </div>
        <div class="dates col-md-2" (click)='onSelect("fri",14)'>
          <span class="date">14</span>
          <span class="day">Fri</span>
        </div>
        <div class="dates col-md-2" (click)='onSelect("sat",15)'>
          <span class="date">15</span>
          <span class="day">Sat</span>
        </div>
      </div>
      <div class="displayappointments" *ngIf='selectedSchedule'>
        <ul class="appointments">
        <li *ngFor="let appoint of selectedSchedule">
          <span (click)="bookAppoinment(appoint)">{{appoint}}</span>
        </li>
      </ul>
      </div>
    </div>

  </div>