<nav class="fh5co-nav" role="navigation">
		<div class="container-wrap">
			<div class="top-menu">
				<div class="row">
					<div class="col-xs-2">
						<div id="fh5co-logo"><a href="index.html">Swasthya</a></div>
					</div>
					<div class="col-xs-10 text-right menu-1">
						<ul>
							<li routerLinkActive="active"><a [routerLink]="['/home']">Home</a></li>
							<li routerLinkActive="active"><a [routerLink]="['/signin']" *ngIf="!authService.isAuth()">Log In</a></li>
							<li><a href="#" *ngIf="authService.isAuth()">Profile</a></li>
							<li class="has-dropdown">
								<a>Register for Medical Professionals</a>
								<ul class="dropdown">
									<li><a [routerLink]="['/doctorsignup']">Are you a doctor?</a></li>
									<li><a [routerLink]="['/hospitalsignup']">Are you a hospital represntative?</a></li>
								</ul>
							</li>
							<li routerLinkActive="active"><a href="about.html">About us</a></li>
							<li routerLinkActive="active"><a href="contact.html">Contact</a></li>
						</ul>
					</div>
				</div>
				
			</div>
		</div>
	</nav>

	<!-- <app-home></app-home> -->
	<!-- <app-signup></app-signup> -->
	<!-- <app-signin></app-signin> -->
	<router-outlet></router-outlet>

<div class="container-wrap">
		<footer id="fh5co-footer" role="contentinfo">
			<div class="row">
				<div class="col-md-6 fh5co-widget">
					<h4>Swasthya: “Redefining Healthcare”</h4>
					<p>We, at Swasthya (स्वास्थ्य), aim at providing a robust and comprehensive platform for the patients, doctors, and healthcare centers - all at one place. Swasthya provides a solution to the lack of standardization in the medical industry, and streamlines the structuring of the medical system in India.

The digitization of the consumer-side technology, such as E-Prescriptions and the availability of previous health data, serves the purpose of achieving India’s goal of having all clinics digital by 2020, realizing the aims of the National Health Program 2017.
</p>
				</div>

				<div class="col-md-3 col-md-push-1">
					<h4>Links</h4>
					<ul class="fh5co-footer-links">
						<li><a href="#">Home</a></li>
						<li><a href="#">Login</a></li>
						<li><a href="#">Medical Professionals</a></li>
						<li><a href="#">About us</a></li>
					</ul>
				</div>

				<div class="col-md-3">
					<h4>Contact Information</h4>
					<ul class="fh5co-footer-links">
						<li>Azad Hind Fauz Marg, Sector 3,<br> Dwarka, New Delhi,</li>
						<li><a href="tel:9891468273">+91 9891468238</a></li>
						<li><a href="mailto:devanshjain1998@gmail.com">contact@swasthya.com</a></li>
						<li><a href="#">Swasthya</a></li>
					</ul>
				</div>

			</div>

			<div class="row copyright">
				<div class="col-md-12 text-center">
					<div>
						<small class="block">&copy; Victorious Secret. All Rights Reserved.</small> 
						<small class="block">Designed for <a href="" target="_blank">HackEAM 18</a></small>
                    </div>
				</div>
			</div>
		</footer>
	</div><!-- END container-wrap -->
	<!-- book an app
	common issues
	health history
	current prescription -->
<app-user-profile></app-user-profile>
<app-doctor-landingpage></app-doctor-landingpage>
<app-hospital-list></app-hospital-list>
