<div class="container-wrap">
     <div class="span3 well">
    <div class="text-center pagination-centered">
        <div class="row">
        
        <div class="col-md-4 col-xs-12" *ngFor="let hospital of hospitals">
          <div class="card card-01">
          <img class="card-img-top" src="https://images.pexels.com/photos/247599/pexels-photo-247599.jpeg?h=350&auto=compress&cs=tinysrgb" alt="Card image cap">
            <div class="card-body">
              <span class="badge-box"><i class="fa fa-star"></i></span>
              <h4 class="card-title">{{hospital.name}}</h4>
              <p class="card-text"><small>{{hospital.address}}</small></p>
                <p class="card-text"><small>{{ dist(hospital.geolocation.latitude, hospital.geolocation.longitude) }} kM | {{hospital.rating}}</small></p>
              <a (click)="showDetails(hospital.key)" class="btn btn-default text-uppercase">Rs {{hospital.price}}</a>
            </div>
          </div>
        </div>
            
        </div>
    </div>
    </div>
</div>

