<div class="container-wrap">
		<aside id="fh5co-hero">
			<div class="flexslider">
				<ul class="slides">
			   	<li style="background-image: url(../../assets/images/img_bg_1.jpg);">
			   		<div class="overlay-gradient"></div>
			   		<div class="container-fluid">
			   			<div class="row">
				   			<div class="col-md-6 col-md-offset-3 col-md-pull-3 slider-text">
				   				<div class="slider-text-inner">
				   					<h1>Cloud based E-precriptions</h1>
										<h2>Real-time precriptions from your doctor, conveniently. </h2>
										<p><a class="btn btn-primary btn-demo">Current prescriptions</a> <a class="btn btn-primary btn-learn" [routerLink]="['/about']">Learn More</a></p>
				   				</div>
				   			</div>
				   		</div>
			   		</div>
			   	</li>
			   	<li style="background-image: url(../../assets/images/img_bg_2.jpg);">
			   		<div class="overlay-gradient"></div>
			   		<div class="container-fluid">
			   			<div class="row">
				   			<div class="col-md-6 col-md-offset-3 col-md-push-3 slider-text">
				   				<div class="slider-text-inner">
				   					<h1>Pay from your electronic wallet</h1>
										<h2>Hassle-free checkout with consumer protection. </h2>
										<p><a class="btn btn-primary btn-demo"> Wallet Balance</a> <a class="btn btn-primary btn-learn" [routerLink]="['/about']">Learn More</a></p>
				   				</div>
				   			</div>
				   		</div>
			   		</div>
			   	</li>
			   	<li style="background-image: url(../../assets/images/img_bg_3.jpg);">
			   		<div class="overlay-gradient"></div>
			   		<div class="container-fluids">
			   			<div class="row">
				   			<div class="col-md-6 col-md-offset-3 slider-text">
				   				<div class="slider-text-inner text-center">
				   					<h1>HEALTH DATA AND HISTORY</h1>
                                    <h2>Precise data about all of your health history stored digitally for you and your future appointments </h2>
										<p><a class="btn btn-primary btn-demo"> View your data</a> <a class="btn btn-primary btn-learn" [routerLink]="['/about']">Learn More</a></p>
				   				</div>
				   			</div>
				   		</div>
			   		</div>
			   	</li>
			   	<li style="background-image: url(../../assets/images/img_bg_4.jpg);">
			   		<div class="overlay-gradient"></div>
			   		<div class="container-fluid">
			   			<div class="row">
				   			<div class="col-md-6 col-md-offset-3 col-md-push-3 slider-text">
				   				<div class="slider-text-inner">
				   					<h1>Consult a Specialist</h1>
										<h2>Choose from over thousands specialists for your problem.</h2>
										<p><a class="btn btn-primary btn-demo"> Consult now</a> <a class="btn btn-primary btn-learn" [routerLink]="['/about']">Learn More</a></p>
				   				</div>
				   			</div>
				   		</div>
			   		</div>
			   	</li>	   	
			  	</ul>
		  	</div>
		</aside>
		<div id="fh5co-services">
			<form action="/hms/accommodations" method="GET"> 

    <div class="col-md-12">
      <div class="input-group">
   <input type="text" class="form-control" placeholder="Search services" id="txtSearch" [(ngModel)]="service">
   <div class="input-group-btn">
        <button class="btn btn-primary" type="submit">
        <i class="fa fa-search fa-2x" aria-hidden="true"></i>
        </button>
   </div>
   </div>
    </div>
 
</form>

            <div class="row">
                <ul class="ch-grid">
	<li>
		<div class="ch-item ch-img-1">
			<div class="ch-info">
				<h3>Nearby</h3>
				
			</div>
		</div>

	</li>
	<li>
		<div class="ch-item ch-img-2">
			<div class="ch-info">
				<h3>Gurgaon</h3>
				
			</div>
		</div>
	</li>
	<li>
		<div class="ch-item ch-img-3">
			<div class="ch-info">
				<h3>North Delhi</h3>
			
			</div>
		</div>
	</li>
                    <li>
		<div class="ch-item ch-img-4">
			<div class="ch-info">
				<h3>South Delhi</h3>
			
			</div>
		</div>
	</li>
                    <li>
		<div class="ch-item ch-img-5">
			<div class="ch-info">
				<h3>East Delhi</h3>
			
			</div>
		</div>
	</li>
                    <li>
		<div class="ch-item ch-img-6">
			<div class="ch-info">
				<h3>West Delhi</h3>
			
			</div>
		</div>
	
			
	</li>
</ul>
			
			</div>
		</div>

		<div id="fh5co-work" class="fh5co-light-grey">
			<!--<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2>Work</h2>
					<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
				</div> 
			</div> -->
			<div class="row">
				<div class="col-md-6 text-center animate-box">
					<a href="work-single.html" class="work"  style="background-image: url(../../assets/images/portfolio-1.jpg);">
						<div class="desc">
							<h3>BOOK AN APPOINTMENT</h3>
							<span></span>
						</div>
					</a>
				</div>
				<div class="col-md-6 text-center animate-box">
					<a href="work-single.html" class="work" style="background-image: url(../../assets/images/portfolio-2.jpg);">
						<div class="desc">
							<h3>COMMON ISSUES</h3>
							<span></span>
						</div>
					</a>
				</div>
				<div class="col-md-6 text-center animate-box">
					<a href="work-single.html" class="work" style="background-image: url(../../assets/images/portfolio-3.jpg);">
						<div class="desc">
							<h3>CURRENT PRESCRIPTIONS</h3>
							<span></span>
						</div>
					</a>
				</div>
                
                <div class="col-md-6 text-center animate-box">
					<a href="work-single.html" class="work" style="background-image: url(../../assets/images/portfolio-4.jpg);">
						<div class="desc">
							<h3>HEALTH DATA & HISTORY</h3>
							<span></span>
						</div>
					</a>
				</div>
			</div>
		</div>

		<div id="fh5co-counter" class="fh5co-counters">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center animate-box">
					<p>Standardizing Healthcare through <b>Quality, Transparency</b> and <b>Trust.</b> </p>
					</div>
			</div>
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2">
					<div class="row">
						<div class="col-md-3 text-center">
							<span class="fh5co-counter js-counter" data-from="0" data-to="180" data-speed="5000" data-refresh-interval="50"></span>
							<span class="fh5co-counter-label">Services booked</span>
						</div>
						<div class="col-md-3 text-center">
							<span class="fh5co-counter js-counter" data-from="0" data-to="55" data-speed="5000" data-refresh-interval="50"></span>
							<span class="fh5co-counter-label">Clients served</span>
						</div>
						<div class="col-md-3 text-center">
							<span class="fh5co-counter js-counter" data-from="0" data-to="87" data-speed="5000" data-refresh-interval="50"></span>
							<span class="fh5co-counter-label">Serving Institutions</span>
						</div>
						<div class="col-md-3 text-center">
							<span class="fh5co-counter js-counter" data-from="0" data-to="200" data-speed="5000" data-refresh-interval="50"></span>
							<span class="fh5co-counter-label">Doctors onboard</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--<div id="fh5co-blog" class="blog-flex">
			<div class="featured-blog" style="background-image: url(../../assets/images/blog-1.jpg);">
				<div class="desc-t">
					<div class="desc-tc">
						<span class="featured-head">Featured Posts</span>
						<h3><a href="#">Top 20 Best WordPress Themes 2017 Multi Purpose and Creative Websites</a></h3>
						<span><a href="#" class="read-button">Learn More</a></span>
					</div>
				</div>
			</div>
			<div class="blog-entry fh5co-light-grey">
				<div class="row animate-box">
					<div class="col-md-12">
						<h2>Latest Posts</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 animate-box">
						<a href="#" class="blog-post">
							<span class="img" style="background-image: url(../../assets/images/blog-2.jpg);"></span>
							<div class="desc">
								<h3>26 Best Education WordPress Themes 2017 You Need To See</h3>
								<span class="cat">Collection</span>
							</div>
						</a>
					</div>
					<div class="col-md-12 animate-box">
						<a href="#" class="blog-post">
							<span class="img" style="background-image: url(../../assets/images/blog-1.jpg);"></span>
							<div class="desc">
								<h3>16 Outstanding Photography WordPress Themes You Must See</h3>
								<span class="cat">Collection</span>
							</div>
						</a>
					</div>
					<div class="col-md-12 animate-box">
						<a href="#" class="blog-post">
							<span class="img" style="background-image: url(../../assets/images/blog-3.jpg);"></span>
							<div class="desc">
								<h3>16 Outstanding Photography WordPress Themes You Must See</h3>
								<span class="cat">Collection</span>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>--><!-- END container-wrap -->
